In [5]:
states = ["California", "New York", "Florida", "Vermont", "California"]

In [7]:
states_new_list=[est for est in states if est == 'California' ]
states_new_list
#After this I will count

print(f'California quantity: {len(states_new_list)}')

California cuantity: 2

In [89]:
from pyspark import SparkContext
from pyspark.sql import SparkSession, SQLContext, functions as f
from pyspark.sql.types import StructField, StructType, IntegerType, StringType, FloatType
from IPython.display import display

In [6]:
spark=SparkSession.builder\
    .master('local')\
    .appName('test_session_01')\
    .getOrCreate()

23/11/13 16:45:16 WARN Utils: Your hostname, CompuDell01 resolves to a loopback address: 127.0.1.1; using 192.168.29.145 instead (on interface eth0)
23/11/13 16:45:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/13 16:45:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [14]:
!pwd
!ls -lac ./curso_spark_git_clone/curso-apache-spark-platzi/files

/home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/39_Spark_y_Big_Data_Fundamentos
total 14524
drwxr-xr-x 3 compu_dell_ubuntu_01 compu_dell_ubuntu_01    4096 Oct 26 12:13 .
drwxr-xr-x 5 compu_dell_ubuntu_01 compu_dell_ubuntu_01    4096 Oct  7 13:11 ..
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01     946 Oct  7 13:11 deporte.csv
drwxr-xr-x 2 compu_dell_ubuntu_01 compu_dell_ubuntu_01    4096 Oct 26 12:13 deporte_partitions
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 2764536 Oct  7 13:11 deportista.csv
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 2807091 Oct  7 13:11 deportista2.csv
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 2776782 Oct  7 13:11 deportistaError.csv
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01   32942 Oct 24 13:40 evento.csv
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01    1978 Oct  7 13:11 juegos.csv
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01  255853 Oct  7 13:11 modelo_relacional.jpg
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01   23606 Oct  7 13:11 paises.csv
-rw-r--r-- 1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 6172768 Oct 24 14:13 resultados.csv

In [16]:
general_path='./curso_spark_git_clone/curso-apache-spark-platzi/files/'

In [36]:
deporte_df=spark.read.options(inferSchema=True, header=True, delimiter=',')\
    .csv(general_path + 'deporte.csv')

deportista_df=spark.read.options(inferSchema=True, header=True, delimiter=',')\
    .csv(general_path+'deportista.csv')

deportista2_df=spark.read.options(inferSchema=True, header=False, delimiter=',')\
    .csv(general_path+'deportista2.csv')

evento_df=spark.read.options(inferSchema=True, header=True, delimiter=',')\
    .csv(general_path+'evento.csv')

juegos_df=spark.read.options(inferSchema=True, header=True, delimiter=',')\
    .csv(general_path+'juegos.csv')

paises_df=spark.read.options(inferSchema=True, header=True, delimiter=',')\
    .csv(general_path+'paises.csv')

resultados_df=spark.read.options(inferSchema=True, header=True, delimiter=',')\
    .csv(general_path+'resultados.csv')

print('deporte_df')
deporte_df.printSchema()
print('deportista_df')
deportista_df.printSchema()
print('deportista2_df')
deportista2_df.printSchema()
print('evento_df')
evento_df.printSchema()
print('juegos_df')
juegos_df.printSchema()
print('paises_df')
paises_df.printSchema()
print('resultados_df')
resultados_df.printSchema()

deporte_df
root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

deportista_df
root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- genero: integer (nullable = true)
 |-- edad: integer (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: double (nullable = true)
 |-- equipo_id: integer (nullable = true)

deportista2_df
root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: integer (nullable = true)

evento_df
root
 |-- evento_id: integer (nullable = true)
 |-- evento: string (nullable = true)
 |-- deporte_id: integer (nullable = true)

juegos_df
root
 |-- _c0: integer (nullable = true)
 |-- nombre_juego: string (nullable = true)
 |-- annio: integer (nullable = true)
 |-- temporada: string (nullable = true)
 |-- ciudad: string (nullable = true)

paises_df
root
 |-- id: integer (nullable = true)
 |-- equipo: string (nullable = true)
 |-- sigla: string (nullable = true)

resultados_df
root
 |-- resultado_id: integer (nullable = true)
 |-- medalla: string (nullable = true)
 |-- deportista_id: integer (nullable = true)
 |-- juego_id: integer (nullable = true)
 |-- evento_id: integer (nullable = true)

In [78]:
new_deportista_df = deportista_df.union(deportista2_df)
new_deportista_df.filter(new_deportista_df.deportista_id=='_c0').show()

print(new_deportista_df.count() == deportista_df.count()+deportista2_df.count())

+-------------+------+------+----+------+----+---------+
|deportista_id|nombre|genero|edad|altura|peso|equipo_id|
+-------------+------+------+----+------+----+---------+
+-------------+------+------+----+------+----+---------+

True

In [93]:
dep_team = new_deportista_df.join(paises_df, new_deportista_df.equipo_id == paises_df.id, 'left')
dep_team = dep_team.select('deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo')
dep_team = dep_team.withColumn('genero', f.when(dep_team.genero==1, 'male').otherwise('female'))
dep_team.orderBy(f.desc('altura')).show(15)

+-------------+--------------------+------+----+------+-----+-------------+
|deportista_id|              nombre|genero|edad|altura| peso|       equipo|
+-------------+--------------------+------+----+------+-----+-------------+
|       132627|            Yao Ming|  male|  20|   226|141.0|        China|
|        16639|Tommy Loren Burleson|  male|  20|   223|102.0|United States|
|       104059|Arvydas Romas Sab...|  male|  23|   223|122.0| Soviet Union|
|         9407|      Gunther Behnke|  male|  29|   221|114.0|      Germany|
|       134621|        Zhang Zhaoxu|  male|  24|   221|110.0|        China|
|        30409|Roberto Dueas Her...|  male|  24|   221|137.0|        Spain|
|        71228|Lucien James Luc ...|  male|  19|   220|135.0|    Australia|
|        91087|Viktor Aleksandro...|  male|  31|   220|112.0| Soviet Union|
|       120589|Volodymyr Petrovy...|  male|  18|   220|110.0| Soviet Union|
|        83657|Dmitry Aleksandro...|  male|  23|   219|104.0|       Russia|
|        98731|Peter John Ramos ...|  male|  19|   219|113.0|  Puerto Rico|
|        11963|            Uwe Blab|  male|  22|   218|110.0| West Germany|
|        69452|            Li Muhao|  male|  24|   218|115.0|        China|
|        17682|Andrew Andy Campbell|  male|  19|   218| 93.0|    Australia|
|       129416|Frdric Jean Santo...|  male|  23|   218|110.0|       France|
+-------------+--------------------+------+----+------+-----+-------------+
only showing top 15 rows

In [99]:
resultados_df = resultados_df.withColumnRenamed("deportista_id", "dep_id")
resultados_df.show(5)

+------------+-------+------+--------+---------+
|resultado_id|medalla|dep_id|juego_id|evento_id|
+------------+-------+------+--------+---------+
|           1|     NA|     1|      39|        1|
|           2|     NA|     2|      49|        2|
|           3|     NA|     3|       7|        3|
|           4|   Gold|     4|       2|        4|
|           5|     NA|     5|      36|        5|
+------------+-------+------+--------+---------+
only showing top 5 rows

In [117]:
dep_team_year = dep_team.join(resultados_df, dep_team.deportista_id==resultados_df.dep_id, 'left')
dep_team_year.show(5)
dep_team_year = dep_team_year.select('deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo', 'medalla', 'juego_id')
dep_team_year.show(15)

+-------------+--------------------+------+----+------+----+--------------+------------+-------+------+--------+---------+
|deportista_id|              nombre|genero|edad|altura|peso|        equipo|resultado_id|medalla|dep_id|juego_id|evento_id|
+-------------+--------------------+------+----+------+----+--------------+------------+-------+------+--------+---------+
|            1|           A Dijiang|  male|  24|   180|80.0|         China|           1|     NA|     1|      39|        1|
|            2|            A Lamusi|  male|  23|   170|60.0|         China|           2|     NA|     2|      49|        2|
|            3| Gunnar Nielsen Aaby|  male|  24|     0| 0.0|       Denmark|           3|     NA|     3|       7|        3|
|            4|Edgar Lindenau Aabye|  male|  34|     0| 0.0|Denmark/Sweden|           4|   Gold|     4|       2|        4|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|          10|     NA|     5|      40|        6|
+-------------+--------------------+------+----+------+----+--------------+------------+-------+------+--------+---------+
only showing top 5 rows

+-------------+--------------------+------+----+------+----+--------------+-------+--------+
|deportista_id|              nombre|genero|edad|altura|peso|        equipo|medalla|juego_id|
+-------------+--------------------+------+----+------+----+--------------+-------+--------+
|            1|           A Dijiang|  male|  24|   180|80.0|         China|     NA|      39|
|            2|            A Lamusi|  male|  23|   170|60.0|         China|     NA|      49|
|            3| Gunnar Nielsen Aaby|  male|  24|     0| 0.0|       Denmark|     NA|       7|
|            4|Edgar Lindenau Aabye|  male|  34|     0| 0.0|Denmark/Sweden|   Gold|       2|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|     NA|      40|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|     NA|      40|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|     NA|      38|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|     NA|      38|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|     NA|      36|
|            5|Christine Jacoba ...|female|  21|   185|82.0|   Netherlands|     NA|      36|
|            6|     Per Knut Aaland|  male|  31|   188|75.0| United States|     NA|      40|
|            6|     Per Knut Aaland|  male|  31|   188|75.0| United States|     NA|      40|
|            6|     Per Knut Aaland|  male|  31|   188|75.0| United States|     NA|      40|
|            6|     Per Knut Aaland|  male|  31|   188|75.0| United States|     NA|      40|
|            6|     Per Knut Aaland|  male|  31|   188|75.0| United States|     NA|      38|
+-------------+--------------------+------+----+------+----+--------------+-------+--------+
only showing top 15 rows

In [108]:
juegos_df=juegos_df.withColumnRenamed('_c0', 'play_id')
juegos_df.show(8)

+-------+-------------+-----+---------+---------+
|play_id| nombre_juego|annio|temporada|   ciudad|
+-------+-------------+-----+---------+---------+
|      1|  1896 Verano| 1896|   Verano|   Athina|
|      2|  1900 Verano| 1900|   Verano|    Paris|
|      3|  1904 Verano| 1904|   Verano|St. Louis|
|      4|  1906 Verano| 1906|   Verano|   Athina|
|      5|  1908 Verano| 1908|   Verano|   London|
|      6|  1912 Verano| 1912|   Verano|Stockholm|
|      7|  1920 Verano| 1920|   Verano|Antwerpen|
|      8|1924 Invierno| 1924| Invierno| Chamonix|
+-------+-------------+-----+---------+---------+
only showing top 8 rows

23/11/13 19:39:43 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego, annio, temporada, ciudad
 Schema: _c0, nombre_juego, annio, temporada, ciudad
Expected: _c0 but found:
CSV file: file:///home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/39_Spark_y_Big_Data_Fundamentos/curso_spark_git_clone/curso-apache-spark-platzi/files/juegos.csv

In [118]:
dep_team_year = dep_team_year.join(juegos_df, dep_team_year.juego_id==juegos_df.play_id, 'left')

In [127]:
dep_team_year = dep_team_year.select('deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo', 'medalla', 'annio', 'temporada', 'ciudad')
dep_team_year.orderBy(f.desc('medalla')).show(8)

23/11/13 20:00:28 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , annio, temporada, ciudad
 Schema: _c0, annio, temporada, ciudad
Expected: _c0 but found:
CSV file: file:///home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/39_Spark_y_Big_Data_Fundamentos/curso_spark_git_clone/curso-apache-spark-platzi/files/juegos.csv

+-------------+--------------------+------+----+------+----+-------------+-------+-----+---------+--------------+
|deportista_id|              nombre|genero|edad|altura|peso|       equipo|medalla|annio|temporada|        ciudad|
+-------------+--------------------+------+----+------+----+-------------+-------+-----+---------+--------------+
|           20|  Kjetil Andr Aamodt|  male|  20|   176|85.0|       Norway| Silver| 1994| Invierno|   Lillehammer|
|        67818|       Lee Chong Wei|  male|  21|   170|68.0|     Malaysia| Silver| 2016|   Verano|Rio de Janeiro|
|           90|Tamila Rashidovna...|female|  21|   163|60.0|       Russia| Silver| 2004|   Verano|        Athina|
|        67865|          Lee EunSil|female|  23|   167|55.0|  South Korea| Silver| 2004|   Verano|        Athina|
|           20|  Kjetil Andr Aamodt|  male|  20|   176|85.0|       Norway| Silver| 1994| Invierno|   Lillehammer|
|        67818|       Lee Chong Wei|  male|  21|   170|68.0|     Malaysia| Silver| 2012|   Verano|        London|
|           25|    Alf Lied Aanning|  male|  24|     0| 0.0|       Norway| Silver| 1920|   Verano|     Antwerpen|
|        67844|          Lee DongSu|  male|  26|   182|73.0|South Korea-2| Silver| 2004|   Verano|        Athina|
+-------------+--------------------+------+----+------+----+-------------+-------+-----+---------+--------------+
only showing top 8 rows

In [135]:
dep_team_year.groupBy('nombre', 'medalla')\
     .agg(f.sum('nombre').alias('nombre_total'))\
     .orderBy(f.desc('nombre_total')).show()

23/11/13 20:03:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header:
 Schema: _c0
Expected: _c0 but found:
CSV file: file:///home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/39_Spark_y_Big_Data_Fundamentos/curso_spark_git_clone/curso-apache-spark-platzi/files/juegos.csv

+--------------------+-------+------------+
|              nombre|medalla|nombre_total|
+--------------------+-------+------------+
|   Aziza Abdelfattah|     NA|        null|
|Ahmed Mohamed Ach...|     NA|        null|
|Michael B. Mike Adam|   Gold|        null|
|Tadeusz Ralf Adam...|     NA|        null|
|       Charles Adamu|     NA|        null|
|Felicia Afrsiloai...| Bronze|        null|
|Muhammad Afzal Manna| Silver|        null|
|Ernst Gunnar kerlund|   Gold|        null|
|      Youssef Akrout|     NA|        null|
|      Armah Akuetteh|     NA|        null|
|   Bandar AlShammari|     NA|        null|
|Ebbe Gustav Berti...| Bronze|        null|
|     Pierre Albrecht|     NA|        null|
|    Johnson O. Amoah|     NA|        null|
|      Vijay Amritraj|     NA|        null|
|John Franklin And...|     NA|        null|
|     Jonna Andersson| Silver|        null|
|Rolf Siljan Andre...| Silver|        null|
|Adriana Angeles L...|     NA|        null|
|        Peter Anieke|     NA|        null|
+--------------------+-------+------------+
only showing top 20 rows

In [41]:
!pwd 
!ls -lac /home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/09_manipulación_transformacion_de_datos_Pandas_NumPy

/home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/39_Spark_y_Big_Data_Fundamentos
total 1792
drwxr-xr-x  4 compu_dell_ubuntu_01 compu_dell_ubuntu_01   4096 Sep  8 11:11 .
drwxr-xr-x 40 compu_dell_ubuntu_01 compu_dell_ubuntu_01   4096 Nov 12 11:15 ..
drwxr-xr-x  8 compu_dell_ubuntu_01 compu_dell_ubuntu_01   4096 Jun 21 12:15 .git
-rw-r--r--  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01   4662 Jun 13 16:44 .gitignore
drwxr-xr-x  2 compu_dell_ubuntu_01 compu_dell_ubuntu_01   4096 Sep  8 11:10 .ipynb_checkpoints
-rw-r--r--  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 377574 Sep  8 11:11 09_manipulación_transformacion_de_datos_Pandas_NumPy_notes.ipynb
-rw-r--r--  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01    385 Jun 21 12:12 README.md
-rw-r--r--  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01  51161 Jun 14 17:58 bestsellers-with-categories.csv
-rw-r--r--  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 377399 Jul 24 00:10 english_notes.ipynb
-rw-r--r--  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01 985562 Jun 13 14:31 hpcharactersdataraw.json
lrwxrwxrwx  1 compu_dell_ubuntu_01 compu_dell_ubuntu_01     69 Jun 13 14:43 plprojects -> /home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project

In [42]:
json_path='/home/compu_dell_ubuntu_01/platzi/pip_y_entornos_virtuales/py-project/09_manipulación_transformacion_de_datos_Pandas_NumPy/'

In [45]:
json_df=spark.read.options(multiline=True)\
    .json(json_path+'hpcharactersdataraw.json')

json_df.printSchema()

root
 |-- Blood: string (nullable = true)
 |-- Descr: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Link: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Profession: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Species/Race: string (nullable = true)

In [49]:
schema=StructType([
    StructField('Name', StringType(), True),
    StructField('Link', StringType(), False),
    StructField('Descr', StringType(), False),
    StructField('Gender', StringType(), False),
    StructField('Species/Race', StringType(), False),
    StructField('Blood', StringType(), False),
    StructField('School', StringType(), False),
    StructField('Profession', StringType(), False)
    
])

In [52]:
json_df_02=spark.read.options(multiline=True).schema(schema)\
    .json(json_path+'hpcharactersdataraw.json')

json_df_02.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Link: string (nullable = true)
 |-- Descr: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Species/Race: string (nullable = true)
 |-- Blood: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Profession: string (nullable = true)

In [58]:
json_df_02.show()

+--------------------+--------------------+--------------------+------+------------+-----------+--------------------+--------------------+
|                Name|                Link|               Descr|Gender|Species/Race|      Blood|              School|          Profession|
+--------------------+--------------------+--------------------+------+------------+-----------+--------------------+--------------------+
|         Mrs. Abbott|https://www.hp-le...|Mrs. Abbott was t...|Female|       Witch|Muggle-born|             Unknown|             Unknown|
|       Hannah Abbott|https://www.hp-le...|Hannah Abbott is ...|Female|       Witch| Half-blood|Hogwarts - Huffle...|Landlady of the L...|
|       Abel Treetops|https://www.hp-le...|Abel Treetops was...|  Male|      Wizard|    Unknown|             Unknown|             Unknown|
|    Euan Abercrombie|https://www.hp-le...|Euan Abercrombie ...|  Male|      Wizard|    Unknown|Hogwarts - Gryffi...|             Unknown|
|Aberforth Dumbledore|https://www.hp-le...|Aberforth Dumbled...|  Male|      Wizard| Half-blood|  Hogwarts - Student|              Barman|
|           Abernathy|https://www.hp-le...|Abernathy was Tin...|  Male|      Wizard|    Unknown|             Unknown|MACUSA employee, ...|
|   Abraham Peasegood|https://www.hp-le...|Abraham Peasegood...|  Male|      Wizard|    Unknown|             Unknown|             Unknown|
|      Abraham Potter|https://www.hp-le...|Abraham Potter wa...|  Male|      Wizard|    Unknown|             Unknown|               Auror|
|      Abraxas Malfoy|https://www.hp-le...|Abraxas Malfoy wa...|  Male|      Wizard| Pure blood|             Unknown|             Unknown|
|   Achilles Tolliver|https://www.hp-le...|Achilles Tolliver...|  Male|      Wizard|    Unknown|             Unknown|               Auror|
|    Stewart Ackerley|https://www.hp-le...|Stewart Ackerley ...|  Male|      Wizard|    Unknown|Hogwarts - Ravenc...|             Unknown|
|   Adalbert Waffling|https://www.hp-le...|Adalbert Waffling...|  Male|      Wizard|    Unknown|             Unknown|              Author|
|        Adrian Pucey|https://www.hp-le...|Adrian Pucey is a...|  Male|      Wizard|    Unknown|Hogwarts - Slytherin|             Unknown|
|       Adrian Tutley|https://www.hp-le...|Adrian Tutley was...|  Male|      Wizard|    Unknown|             Unknown|             Unknown|
|three African wiz...|https://www.hp-le...|Harry saw these t...|   NaN|     Unknown|    Unknown|             Unknown|             Unknown|
|        Agatha Chubb|https://www.hp-le...|Agatha Chubb was ...|Female|       Witch|    Unknown|             Unknown|Expert in ancient...|
|        Agatha Timms|https://www.hp-le...|Agatha Timms was ...|Female|       Witch|    Unknown|             Unknown|          Eel farmer|
|   Agilbert Fontaine|https://www.hp-le...|Agilbert Fontaine...|  Male|      Wizard|    Unknown|             Unknown|Headmaster of Ilv...|
|               Agnes|https://www.hp-le...|Agnes was a patie...|Female|     Unknown|    Unknown|             Unknown|             Unknown|
|   Cornelius Agrippa|https://www.hp-le...|Heinrich Corneliu...|  Male|      Wizard|    Unknown|             Unknown|  Scholar and author|
+--------------------+--------------------+--------------------+------+------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [63]:
json_df_02.filter(json_df_02.Gender == 'Female').show()

+------------------+--------------------+--------------------+------+------------+-----------+--------------------+--------------------+
|              Name|                Link|               Descr|Gender|Species/Race|      Blood|              School|          Profession|
+------------------+--------------------+--------------------+------+------------+-----------+--------------------+--------------------+
|       Mrs. Abbott|https://www.hp-le...|Mrs. Abbott was t...|Female|       Witch|Muggle-born|             Unknown|             Unknown|
|     Hannah Abbott|https://www.hp-le...|Hannah Abbott is ...|Female|       Witch| Half-blood|Hogwarts - Huffle...|Landlady of the L...|
|      Agatha Chubb|https://www.hp-le...|Agatha Chubb was ...|Female|       Witch|    Unknown|             Unknown|Expert in ancient...|
|      Agatha Timms|https://www.hp-le...|Agatha Timms was ...|Female|       Witch|    Unknown|             Unknown|          Eel farmer|
|             Agnes|https://www.hp-le...|Agnes was a patie...|Female|     Unknown|    Unknown|             Unknown|             Unknown|
|  Alberta Toothill|https://www.hp-le...|Famous wizarding ...|Female|       Witch|    Unknown|             Unknown|            Duellist|
|     Alecto Carrow|https://www.hp-le...|Alecto and Amycus...|Female|       Witch| Pure blood|    Hogwarts - Staff|             Unknown|
|  Alice Longbottom|https://www.hp-le...|Alice Longbottom,...|Female|       Witch|    Unknown|             Unknown|               Auror|
|    Alicia Spinnet|https://www.hp-le...|Alicia Spinnet wa...|Female|       Witch|    Unknown|Hogwarts - Gryffi...|             Unknown|
|  Alejandra Alonso|https://www.hp-le...|Alejandra Alonso ...|Female|       Witch|    Unknown|             Unknown|Quidditch player ...|
|           Altheda|https://www.hp-le...|The second of thr...|Female|     Unknown|    Unknown|             Unknown|             Unknown|
|             Amata|https://www.hp-le...|The third of thre...|Female|     Unknown|    Unknown|             Unknown|             Unknown|
|Amelia Susan Bones|https://www.hp-le...|Amelia Susan Bone...|Female|       Witch|    Unknown|             Unknown|Head, Department ...|
|        Amy Benson|https://www.hp-le...|Amy Benson was a ...|Female|      Muggle|     Muggle|             Unknown|             Unknown|
|   Andromeda Tonks|https://www.hp-le...|Andromeda Tonks w...|Female|       Witch| Pure blood|Hogwarts - Slytherin|             Unknown|
|  Angelina Johnson|https://www.hp-le...|Angelina Johnson ...|Female|       Witch|    Unknown|Hogwarts - Gryffi...|             Unknown|
|       Annis Black|https://www.hp-le...|Annis Black was a...|Female|         Hag|    Unknown|             Unknown|             Unknown|
| Apolline Delacour|https://www.hp-le...|Apolline Delacour...|Female|     Unknown|    Unknown|             Unknown|             Unknown|
|         Mrs. Figg|https://www.hp-le...|Arabella Doreen F...|Female|       Squib|    Unknown|             Unknown|Babysitter, raise...|
| Araminta Meliflua|https://www.hp-le...|Araminta Meliflua...|Female|      wizard| Pure blood|             Unknown|             Unknown|
+------------------+--------------------+--------------------+------+------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [46]:
json_df.show()

+-----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+------------+
|      Blood|               Descr|Gender|                Link|                Name|          Profession|              School|Species/Race|
+-----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+------------+
|Muggle-born|Mrs. Abbott was t...|Female|https://www.hp-le...|         Mrs. Abbott|             Unknown|             Unknown|       Witch|
| Half-blood|Hannah Abbott is ...|Female|https://www.hp-le...|       Hannah Abbott|Landlady of the L...|Hogwarts - Huffle...|       Witch|
|    Unknown|Abel Treetops was...|  Male|https://www.hp-le...|       Abel Treetops|             Unknown|             Unknown|      Wizard|
|    Unknown|Euan Abercrombie ...|  Male|https://www.hp-le...|    Euan Abercrombie|             Unknown|Hogwarts - Gryffi...|      Wizard|
| Half-blood|Aberforth Dumbled...|  Male|https://www.hp-le...|Aberforth Dumbledore|              Barman|  Hogwarts - Student|      Wizard|
|    Unknown|Abernathy was Tin...|  Male|https://www.hp-le...|           Abernathy|MACUSA employee, ...|             Unknown|      Wizard|
|    Unknown|Abraham Peasegood...|  Male|https://www.hp-le...|   Abraham Peasegood|             Unknown|             Unknown|      Wizard|
|    Unknown|Abraham Potter wa...|  Male|https://www.hp-le...|      Abraham Potter|               Auror|             Unknown|      Wizard|
| Pure blood|Abraxas Malfoy wa...|  Male|https://www.hp-le...|      Abraxas Malfoy|             Unknown|             Unknown|      Wizard|
|    Unknown|Achilles Tolliver...|  Male|https://www.hp-le...|   Achilles Tolliver|               Auror|             Unknown|      Wizard|
|    Unknown|Stewart Ackerley ...|  Male|https://www.hp-le...|    Stewart Ackerley|             Unknown|Hogwarts - Ravenc...|      Wizard|
|    Unknown|Adalbert Waffling...|  Male|https://www.hp-le...|   Adalbert Waffling|              Author|             Unknown|      Wizard|
|    Unknown|Adrian Pucey is a...|  Male|https://www.hp-le...|        Adrian Pucey|             Unknown|Hogwarts - Slytherin|      Wizard|
|    Unknown|Adrian Tutley was...|  Male|https://www.hp-le...|       Adrian Tutley|             Unknown|             Unknown|      Wizard|
|    Unknown|Harry saw these t...|   NaN|https://www.hp-le...|three African wiz...|             Unknown|             Unknown|     Unknown|
|    Unknown|Agatha Chubb was ...|Female|https://www.hp-le...|        Agatha Chubb|Expert in ancient...|             Unknown|       Witch|
|    Unknown|Agatha Timms was ...|Female|https://www.hp-le...|        Agatha Timms|          Eel farmer|             Unknown|       Witch|
|    Unknown|Agilbert Fontaine...|  Male|https://www.hp-le...|   Agilbert Fontaine|Headmaster of Ilv...|             Unknown|      Wizard|
|    Unknown|Agnes was a patie...|Female|https://www.hp-le...|               Agnes|             Unknown|             Unknown|     Unknown|
|    Unknown|Heinrich Corneliu...|  Male|https://www.hp-le...|   Cornelius Agrippa|  Scholar and author|             Unknown|      Wizard|
+-----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+------------+
only showing top 20 rows

In [ ]:
spark.stop()